#joke-container {
    margin-top: 50px;
    font-size: 20px;
    padding: 10px 10px; 
}

.heading {
    text-align: center; 
    border-bottom: 1px solid black; 
    padding: 10px 0px;
}

.col-style{
    background-color: rgb(194, 214, 189); 
    border: 1px solid black; 
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px grey;
}

#category-list button{
    text-decoration: none;
    color: black;
    padding: 10px 0px;   
}

#category-list button:hover{
  color:rgb(251, 251, 251);
}

#category-list li{
    list-style-type: none;
}

#joke1 {
    border-bottom: 1px solid black; 
    padding: 20px 0px;
}

#joke2 {
    border-bottom: 1px solid black; 
    padding: 20px 0px;
}

#joke3 {
    padding: 20px 0px;
}

#container-footer {
    padding: 10px 0px; text-align:center;
}